@charset "utf-8";
#loginArea{
    position: absolute;
    top: 0;
    width: 1024px;
    height: 600px;
    background-color: red;
}
.login{
    background-image: radial-gradient(circle at top right, #ffc848, #ff8208);
    border-radius: 5px;
    padding: 10px;
    box-shadow: -1px -1px 5px rgba(0,0,0,0.2);
}
.login > h2 {
    color: #feff9a;
    font-size: 1.2em;
    padding: 0 0 10px 10px;
}
.login form {
    background-color: #fff;
    position: relative;
    border-radius: 3px 3px 0 0;
    padding: 10px 10px 0 10px;
}
.login label{
    display: inline-block; /*form태그 만드는 규칙*/
    width: 50px;
}
.login input{
    width: 120px;
    height: 18px;
    padding: 1px 1px 1px 4px; /*커서가 딱 붙어있어보이지 않게 미세한 값을 준다.*/
    border: 1px solid #ccc;
}
#userId{
    margin-bottom: 6px;
}
.login button{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
    border: 1px solid #ff4e00;
    border-radius: 3px;
    background-image: linear-gradient(to bottom, #fe5f18 0%, #fa4306 100%);
}
.login fieldset{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.memberLink{
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    padding: 0 10px;
    overflow: hidden;
}
.memberLink a::before{
    font-family: "webcafeIcon";
    content: "g";
    color: #fa3d00;
    margin-right: 3px;
    position: relative;
    top: 2px;
}
.join{
    float: left;
    padding: 10px 0;
}
.find{
    float: right;
    padding: 10px 0;
}